<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<body>
{% for x_table in tables %}
<br>
<h2>{{ table.table_subject }}</h2>
<table>
    <tr>
        {% for column in x_table.columns %}
            <th>{{ column }}</th>
        {% endfor %}
    </tr>
    {% for row in x_table.rows %}
        <tr>
            {% for col_value in row%}
                <td>{{ col_value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<br>
{% endfor %}
</body>
</html>

